.login-container {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.table thead th {
  background-color: #cce5ff; /* Azul claro */
  color: #004085;            /* Texto de color azul oscuro */
}